/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}

/* Style for entire body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: grey;
}

/* Navigation Bar*/
nav ul {
    list-style: none;
    text-align: center;   
    background-color: rgb(27, 37, 34);
    padding: 20px;
  
}

nav ul li {
    display: inline;
    margin: 0 15px;
   
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

/*  Sections */
section {
    text-align: center;
    padding: 20px;
}
section h1{
    font-size: 20px;
    

}
section h2{
    font-size: 18px;
    text-decoration: underline;
    padding: 5px;

}
section p{
    font-style: italic;
    padding: 5px;
}
section h4{
    padding: 15px;
}

/* Table  */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Form Styles */
input, textarea {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button Styles */
button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}