/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    
}

/* Style for entire body */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(204, 204, 204);
}

/* Navigation Bar*/
.nav-links {
    list-style: none;
    text-align: center;   
    background-color: rgb(27, 37, 34);
    padding: 20px;
  
}

.nav-links li {
    display: inline;
    margin: 0 15px;
    background-color: rgb(98, 114, 111);
    padding: 10px;
    border-radius: 10px;
   
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

/*  Sections */
section {
    text-align: center;
    
    padding: 20px;
}
section h1{
    font-size: 40px;
    font-weight: bold;

}
section h2{
    font-size: 35px;
    text-decoration: underline;
    padding: 5px;
    font-weight: bold;

}
section p{
    font-style: italic;
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
}
section h4{
    padding: 15px;
}

#about{
    font-size: 20px;
}

#about li{
    padding: 10px;
    

}

/* Table  */
.projects-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.projects-table th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.projects-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Form Styles */
.contact-form input, textarea {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button Styles */
.contact-form button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}